<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PingrBean</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>PingrBeanController</servlet-name>
    <servlet-class>pingr.controller.PingrBeanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PingrBeanController</servlet-name>
    <url-pattern>/PingrBeanController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FetchData</servlet-name>
    <servlet-class>pingr.controller.FetchData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchData</servlet-name>
    <url-pattern>/FetchData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendResponse</servlet-name>
    <servlet-class>pingr.controller.SendResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendResponse</servlet-name>
    <url-pattern>/SendResponse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveComment</servlet-name>
    <servlet-class>pingr.controller.SaveComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveComment</servlet-name>
    <url-pattern>/SaveComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendResponseDown</servlet-name>
    <servlet-class>pingr.controller.SendResponseDown</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendResponseDown</servlet-name>
    <url-pattern>/SendResponseDown</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InfoWindowDataUpVote</servlet-name>
    <servlet-class>pingr.controller.InfoWindowDataUpVote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoWindowDataUpVote</servlet-name>
    <url-pattern>/InfoWindowDataUpVote</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InfoWindowDataDownVote</servlet-name>
    <servlet-class>pingr.controller.InfoWindowDataDownVote</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoWindowDataDownVote</servlet-name>
    <url-pattern>/InfoWindowDataDownVote</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>InfoWindowDataComments</servlet-name>
    <servlet-class>pingr.controller.InfoWindowDataComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoWindowDataComments</servlet-name>
    <url-pattern>/InfoWindowDataComments</url-pattern>
  </servlet-mapping>
</web-app>